@mixin wrap-box {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px 0 10px 14px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notemark {
    .nav {
        font-size: 36px;
        text-align: center;
    }

    .container {
        .list-group {
            height: 300px;
            @include wrap-box();
        }
    
        .create-btn {
            margin-bottom: 10px;
        }

        .maincontent {
            .item-show-layer-article {
                height: 720px;
                @include wrap-box();
            }
        }
    }
    
}

