.notemark {
    .nav {
        font-size: 36px;
        text-align: center;
    }

    .list-group {
        height: 300px;
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 10px 0 10px 14px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .create-btn {
        margin-bottom: 10px;
    }
}